@font-face {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-weight: 400;
  src: url("/HelveticaNowDisplay-Regular.ef9c732b.woff2") format("woff2"), url("/HelveticaNowDisplay-Regular.5b58a3e1.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-weight: 700;
  src: url("/HelveticaNowDisplay-Bold.c75c5735.woff2") format("woff2"), url("/HelveticaNowDisplay-Bold.c9977096.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-weight: 800;
  src: url("/HelveticaNowDisplay-ExtraBold.cd52a668.woff2") format("woff2"), url("/HelveticaNowDisplay-ExtraBold.549bb8d6.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-weight: 900;
  src: url("/HelveticaNowDisplay-Black.c392d06f.woff2") format("woff2"), url("/HelveticaNowDisplay-Black.58577a76.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Helvetica Now Display", serif;
  font-style: normal;
  font-size: 16px;
  color: white;
}
body::-webkit-scrollbar, body::-webkit-scrollbar-button, body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-track, body::-webkit-scrollbar-corner {
  transition: opacity 0.3s linear;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-thumb {
  background: #18E8A4;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-corner {
  background: transparent;
}
body:hover::-webkit-scrollbar-thumb {
  background: #18E8A4;
}
body:hover::-webkit-scrollbar-track {
  opacity: 0.25;
}
body:active::-webkit-scrollbar-thumb {
  opacity: 1;
  background: #18E8A4;
}
body:active::-webkit-scrollbar-track {
  opacity: 1;
}
body.menuOpened {
  overflow-y: hidden;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  background: #020213;
  color: white;
  padding-top: 24px;
}
.header .header__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__flex-wrapper .header__list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  margin: 0;
}
.header .header__flex-wrapper .header__list .header__nav-item {
  list-style-type: none;
  margin: 0 18px;
}
.header .header__flex-wrapper .header__list .header__nav-item:first-child {
  margin-left: 44px;
}
.header .header__flex-wrapper .header__list .header__nav-item:last-child a {
  color: #18E8A4;
  font-weight: 900;
}
.header .header__flex-wrapper .header__button {
  background: rgba(20, 20, 26, 0.3);
  border: 2px solid #18E8A4;
  border-radius: 383px;
  padding: 14px 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.mobile__header {
  background: #020213;
  color: white;
  padding-top: 24px;
  display: none;
}
.mobile__header .header__flex-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.mobile__header .header__flex-wrapper .buttons__group {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin-bottom: 10px;
}
.mobile__header .mobile__header__nav {
  position: absolute;
  display: block;
  z-index: 10;
  top: 0;
  right: -700px;
  width: 305px;
  height: 100%;
  background-color: #545460;
}
.mobile__header .mobile__header__nav:not(.disabled) {
  transform: translateX(-700px);
  transition: transform 0.4s;
}
.mobile__header .mobile__header__nav .header__list {
  margin: 0;
  padding-inline-start: 0;
}
.mobile__header .mobile__header__nav .header__list .header__nav-item {
  list-style-type: none;
  margin: 20px 0 20px 20px;
  font-size: 40px;
  font-weight: 700;
}
.mobile__header .mobile__header__nav .header__list .header__nav-item:first-child div {
  margin-left: 260px;
}
.mobile__header .mobile__header__nav .header__list .header__nav-item:last-child a {
  color: #18E8A4;
  font-weight: 900;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.top__block {
  overflow: hidden;
  background: #020213;
  height: 1256px;
}
.top__block .top__block-flex-wrapper {
  display: flex;
  align-items: center;
}
.top__block .top__block-flex-wrapper .top__block-big-inscription {
  width: 430px;
  margin: 90px 50px 0 0;
  font-weight: 900;
  font-size: 56px;
  letter-spacing: -1px;
  line-height: 111%;
}
.top__block .top__block-flex-wrapper .top__block-big-inscription .colored-green {
  color: #18E8A4;
}
.top__block .top__block-flex-wrapper .top__block-long-inscription {
  max-width: 576px;
  margin-top: 96px;
  line-height: 155%;
  font-size: 24px;
}
.top__block .compression {
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3840px;
  justify-content: center;
  display: flex;
}
.top__block .compression .wide-container {
  margin: 100px auto 0 auto;
  padding-bottom: 174px;
  max-width: 1920px;
  overflow: hidden;
}
.top__block .compression .wide-container .top__block-image-line {
  display: flex;
  margin-bottom: 20px;
  transform: translateX(-343px);
}
.top__block .compression .wide-container .top__block-image-line:nth-child(2) {
  transform: translateX(-226px);
}
.top__block .compression .wide-container .top__block-image-line .image-line-element {
  position: relative;
  margin-right: 20px;
  min-width: 378px;
  border-radius: 10px;
  overflow: hidden;
}
.top__block .compression .wide-container .top__block-image-line .image-line-element .image-overlay {
  font-weight: 800;
  font-size: 28px;
  color: #020213;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18E8A4;
  opacity: 0;
  transition: opacity 0.4s;
}
.top__block .compression .wide-container .top__block-image-line .image-line-element .image-overlay:hover {
  opacity: 0.9;
}
.top__block .compression .wide-container .top__block-image-line .top__block-shadow {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(343px);
  background: linear-gradient(180deg, rgba(2, 2, 19, 0) 0%, #020213 100%);
  height: 212px;
  width: 100%;
  pointer-events: none;
}
.top__block .mobile__button {
  display: none;
  width: 172px;
  height: 40px;
  margin-left: 70px;
  justify-content: center;
  align-items: center;
  background: #18E8A4;
  box-shadow: 0 32px 16px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}
.top__block .mobile__button span {
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  color: #020213;
}

.about__block {
  padding: 100px 0 118px 0;
}
.about__block .about__block-flex-wrapper {
  display: flex;
  justify-content: center;
}
.about__block .about__block-flex-wrapper .about__block-big-inscription {
  width: 320px;
  margin-right: 100px;
  font-size: 62px;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 90%;
  color: #202523;
}
.about__block .about__block-flex-wrapper .about__block-inscription {
  width: 390px;
  line-height: 180%;
  color: #545460;
  margin-right: 40px;
}

.recruitment__block {
  overflow: hidden;
  padding: 100px 0 210px 0;
  background: #D5D4D9;
  box-shadow: 0 32px 16px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09);
}
.recruitment__block .relative-wrapper {
  position: relative;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .big-description {
  width: 363px;
  color: #202523;
  font-weight: 900;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -1px;
  margin-right: 285px;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .long-description {
  max-width: 612px;
  margin-bottom: 24px;
  padding-right: 15px;
  color: #485563;
  font-size: 24px;
  line-height: 156%;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .long-description:nth-child(2) {
  margin-bottom: 54px;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .group__card {
  height: 457px;
  width: calc(50% - 10px);
  padding: 56px 24px 35px 24px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(117.15deg, #1BD1FC 0%, #316DD1 100%);
  box-shadow: 0 32px 16px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .group__card.mobile {
  display: none;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .group__card .recruitment__card-subtitle {
  color: #545460;
  line-height: 110%;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .group__card .recruitment__card-title {
  width: 254px;
  color: #202523;
  font-weight: 800;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -1px;
  margin-bottom: 16px;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .group__card .recruitment__card-content {
  display: flex;
  justify-content: space-between;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .group__card .recruitment__card-content .text__sample {
  width: 290px;
  color: #596067;
  font-size: 16px;
  line-height: 25px;
  z-index: 1;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .group__card .recruitment__card-content .text__sample:nth-child(2) {
  max-width: 250px;
}
.recruitment__block .relative-wrapper .recruitment__flex-wrapper .group__card .number__image {
  position: absolute;
  bottom: 35px;
  right: 50px;
}
.recruitment__block .relative-wrapper .arrow__line-image {
  display: block;
  position: absolute;
  transform: translateX(-80px);
  bottom: -115px;
}
.recruitment__block .relative-wrapper .arrow__line-image-tablet {
  display: none;
  position: absolute;
  transform: translateX(-80px);
  bottom: -115px;
}
.recruitment__block .relative-wrapper .arrow__line-image-mobile {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 55px;
  transform: translateX(-80px);
}

.candidate__block {
  background: #AEA9A8;
  padding: 100px 0;
}
.candidate__block .candidate__header {
  max-width: 589px;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 110%;
  margin-bottom: 80px;
}
.candidate__block .candidate__block-flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.candidate__block .candidate__block-flex-wrapper .group__card {
  width: calc(50% - 10px);
  padding: 60px 24px 60px 24px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(117.15deg, #1BD1FC 0%, #316DD1 100%);
  box-shadow: 0 32px 16px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.candidate__block .candidate__block-flex-wrapper .group__card.negative .text__content .list__element::before {
  background-image: url("/red_mark.7edc1580.svg");
}
.candidate__block .candidate__block-flex-wrapper .group__card .header__icon {
  margin-bottom: 52px;
}
.candidate__block .candidate__block-flex-wrapper .group__card .candidate__card-title {
  color: #202523;
  max-width: 362px;
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -1px;
  margin-bottom: 32px;
}
.candidate__block .candidate__block-flex-wrapper .group__card .text__content {
  padding-left: 30px;
}
.candidate__block .candidate__block-flex-wrapper .group__card .text__content .list__element {
  position: relative;
  color: #596067;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  max-width: 306px;
  padding: 16px 0;
  border-top: 1px solid rgba(72, 85, 99, 0.2);
}
.candidate__block .candidate__block-flex-wrapper .group__card .text__content .list__element:first-child {
  border: none;
}
.candidate__block .candidate__block-flex-wrapper .group__card .text__content .list__element::before {
  position: absolute;
  top: 10px;
  left: -60px;
  height: 60px;
  width: 60px;
  content: "";
  background-image: url("/green_mark.816380b7.svg");
}

.vacancies__block {
  padding: 100px 0;
  background: #001427;
  box-shadow: 0 32px 16px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 2px 1px rgba(0, 0, 0, 0.09);
}
.vacancies__block .vacancies__container {
  max-width: 1180px;
  margin: 0 auto;
  max-height: 391px;
}
.vacancies__block .vacancies__container .vacancies__block-header {
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 130%;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 80px;
}
.vacancies__block .vacancies__container .search__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vacancies__block .vacancies__container .search__group .keyword__find {
  width: 40%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 6px;
}
.vacancies__block .vacancies__container .search__group .keyword__find input {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  width: 100%;
  background: none;
  border: none;
}
.vacancies__block .vacancies__container .search__group .keyword__find input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.vacancies__block .vacancies__container .search__group .category__popup {
  position: relative;
  width: 25%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 6px;
}
.vacancies__block .vacancies__container .search__group .category__popup::after {
  position: absolute;
  top: -3px;
  right: 0;
  content: "";
  background-image: url("/arrow-drop-down-24.0823ac5c.svg");
  width: 29px;
  height: 24px;
}
.vacancies__block .vacancies__container .search__group .category__popup select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.vacancies__block .vacancies__container .search__group .category__popup select option {
  color: #596067;
  background-color: #001427;
}
.vacancies__block .vacancies__container .search__group .search__button {
  position: relative;
  width: 40px;
  height: 40px;
  align-content: center;
}
.vacancies__block .vacancies__container .search__group .search__button .search__button-img {
  position: absolute;
  top: 0;
  left: -29px;
}

.selection__block {
  background-image: url("/select_block_backgroud.754f2a2e.png");
  padding: 64px 0 76px 0;
}
.selection__block .selection__header {
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -1px;
  color: #333333;
}
.selection__block .option__bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.selection__block .option__bar .option__card {
  padding: 32px 30px;
  background: #FFFFFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.09), 0 6px 8px rgba(0, 0, 0, 0.09), 0 4px 4px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.09), 0 1px 1px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  margin-bottom: 24px;
  width: 404px;
}
.selection__block .option__bar .option__card .option__card-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -1px;
  color: #545460;
  margin-bottom: 16px;
}
.selection__block .option__bar .option__card .option__card-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #545460;
}
.selection__block .load__button {
  margin: 0 auto;
  color: #545460;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  width: 404px;
  height: 73px;
  background: #18E8A4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.09), 0 6px 8px rgba(0, 0, 0, 0.09), 0 4px 4px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.09), 0 1px 1px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.feedback__block {
  background-image: url("/feedback_background.cec34852.png");
  padding: 100px 0;
}
.feedback__block .feedback__block-flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.feedback__block .feedback__block-flex-wrapper .feedback__block-header .feedback__block-title {
  width: 540px;
  font-weight: 900;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -1px;
  color: #000000;
  margin-bottom: 50px;
}
.feedback__block .feedback__block-flex-wrapper .feedback__block-header .feedback__block-subtitle {
  width: 400px;
  font-weight: 400;
  font-size: 24px;
  line-height: 156%;
  color: #000000;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form {
  padding-top: 28px;
  width: 624px;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .input__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .input__wrapper .form__input {
  position: relative;
  width: 300px;
  height: 25px;
  border-bottom: 1px solid #A4AFC1;
  padding-bottom: 6px;
  margin-bottom: 37px;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .input__wrapper .form__input .input-label {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 14px;
  left: 0;
  top: 0;
  color: #777777;
  pointer-events: none;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .input__wrapper .form__input input:focus + .input-label,
.feedback__block .feedback__block-flex-wrapper .feedback__form .input__wrapper .form__input input:not(.empty) + .input-label {
  display: block;
  position: absolute;
  color: black;
  font-size: 12px;
  transform: translateY(-18px);
  transition: transform 0.15s, font-size 0.15s;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .input__wrapper .form__input:nth-child(3) {
  width: 100%;
  margin-bottom: 32px;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .input__wrapper .form__input input {
  position: relative;
  width: 100%;
  outline: none;
  background: none;
  border: none;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .upload__button {
  position: relative;
  padding-left: 68px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 34px;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .upload__button .upload__bg {
  position: absolute;
  top: -15px;
  left: -20px;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .upload__button .upload__attach {
  position: absolute;
  top: 0;
  left: 15px;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .sub__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #828893;
  margin-bottom: 36px;
}
.feedback__block .feedback__block-flex-wrapper .feedback__form .send__button {
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  padding: 20px 16px;
  width: 386px;
  background: #18E8A4;
  box-shadow: 0 32px 16px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  color: #073325;
}

.conclusion__block {
  padding: 50px 0;
}
.conclusion__block .container {
  max-width: 1100px;
}
.conclusion__block .container .conclusion__header {
  font-weight: 900;
  font-size: 62px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -1px;
  color: #202524;
  margin-bottom: 82px;
}
.conclusion__block .container .group__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.conclusion__block .container .group__wrapper .group__card {
  position: relative;
  width: 320px;
  height: 500px;
}
.conclusion__block .container .group__wrapper .group__card .conclusion__image {
  text-align: center;
  max-height: 128px;
  margin-bottom: 50px;
}
.conclusion__block .container .group__wrapper .group__card .group__title {
  width: 320px;
  font-weight: 800;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -1px;
  color: #202523;
}
.conclusion__block .container .group__wrapper .group__card .group__content {
  position: absolute;
  right: 0;
  top: 300px;
  max-width: 320px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #485563;
}

.footer__block {
  background: #020213;
}
.footer__block .footer__container {
  width: 75%;
  margin: 0 auto;
  background: black;
  padding: 27px 92px;
}
.footer__block .footer__container .footer__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__block .footer__container .footer__flex-wrapper .copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #A4AFC1;
}
.footer__block .footer__container .footer__flex-wrapper .footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__block .footer__container .footer__flex-wrapper .footer__nav .footer__nav-element {
  margin-right: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #A4AFC1;
}
.footer__block .footer__container .footer__flex-wrapper .footer__nav .footer__nav-element:last-child {
  margin-right: 0;
}
.footer__block .footer__container .footer__flex-wrapper .footer__link {
  display: flex;
  justify-content: space-between;
}
.footer__block .footer__container .footer__flex-wrapper .footer__link .footer__image {
  margin-right: 25px;
}
.footer__block .footer__container .footer__flex-wrapper .footer__link .footer__image:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1315px) {
  .container {
    width: calc(100% - 40px);
  }
  .container .top__block-flex-wrapper {
    flex-wrap: wrap;
  }
  .container .top__block-flex-wrapper .top__block-big-inscription {
    width: 100%;
    margin: 48px 0 24px 0;
    font-weight: 900;
    font-size: 56px;
    line-height: 111%;
    letter-spacing: -1px;
  }
  .container .top__block-flex-wrapper .top__block-long-inscription {
    max-width: 536px;
    margin: 0 0 19px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
  }
  .about__block {
    padding: 80px 0;
  }
  .about__block .about__block-flex-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__block .about__block-flex-wrapper .about__block-big-inscription {
    width: 100%;
    margin-bottom: 48px;
  }
  .about__block .about__block-flex-wrapper .about__block-inscription {
    width: calc(50% - 20px);
    margin: 0;
  }
  .top__block .wide-container {
    margin-top: 19px;
    padding-bottom: 63px;
  }
  .recruitment__block {
    padding: 80px 0 180px 0;
  }
  .recruitment__block .container .recruitment__flex-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
  .recruitment__block .container .recruitment__flex-wrapper:nth-child(2) {
    flex-wrap: nowrap;
  }
  .recruitment__block .container .recruitment__flex-wrapper .big-description {
    width: 100%;
    margin: 0 0 32px 0;
  }
  .recruitment__block .container .recruitment__flex-wrapper .recruitment__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .recruitment__block .container .recruitment__flex-wrapper .recruitment__content .long-description {
    width: calc(50% - 26px);
  }
  .recruitment__block .container .arrow__line-image {
    transform: translateX(-450px);
  }
  .selection__block .container .option__bar .option__card {
    width: calc(50% - 10px);
  }
  .feedback__block .container .feedback__block-flex-wrapper {
    flex-wrap: wrap;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__block-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__block-header .feedback__block-title {
    width: calc(50% - 20px);
    margin-right: 40px;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__block-header .feedback__block-subtitle {
    width: calc(40% - 20px);
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__form {
    width: 100%;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__form .form__input {
    width: calc(50% - 20px);
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__form .send__button {
    margin: 0 auto;
  }
  .footer__block .footer__container {
    padding: 27px 20px;
    width: 100%;
  }
}
@media screen and (max-width: 769px) {
  .top__block {
    position: relative;
    height: 660px;
  }
  .top__block .compression .wide-container {
    width: 769px;
    padding-bottom: 0;
    margin: 0 auto;
  }
  .top__block .compression .wide-container .top__block-image-line {
    width: 769px;
    margin-bottom: 10px;
  }
  .top__block .compression .wide-container .top__block-image-line .image-line-element {
    height: 105px;
    min-width: 188px;
    margin-right: 10px;
  }
  .top__block .compression .wide-container .top__block-image-line .image-line-element img {
    height: 100%;
  }
  .top__block .compression .wide-container .top__block-image-line .image-line-element .image-overlay {
    display: none;
  }
  .top__block .compression .wide-container .top__block-image-line .top__block-shadow {
    height: 105px;
  }
  .top__block .mobile__button {
    display: flex;
    position: absolute;
    bottom: 63px;
  }
  .about__block {
    padding: 48px 0;
  }
  .about__block .about__block-flex-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__block .about__block-flex-wrapper .about__block-big-inscription {
    width: 100%;
    font-weight: 900;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: -1px;
  }
  .about__block .about__block-flex-wrapper .about__block-inscription {
    width: calc(50% - 16px);
    margin: 0;
  }
  .recruitment__block {
    padding: 80px 0 48px 0;
  }
  .recruitment__block .container .recruitment__flex-wrapper {
    transition: transform 0.4s;
  }
  .recruitment__block .container .recruitment__flex-wrapper .group__card {
    width: 354px;
    height: 514px;
    padding: 32px 24px;
  }
  .recruitment__block .container .recruitment__flex-wrapper .group__card .recruitment__card-title {
    width: 100%;
  }
  .recruitment__block .container .recruitment__flex-wrapper .group__card .recruitment__card-content .text__sample {
    width: 100%;
  }
  .recruitment__block .container .recruitment__flex-wrapper .group__card .number__image {
    right: 50%;
    transform: translateX(50%);
  }
  .recruitment__block .container .recruitment__flex-wrapper .group__card.desktop {
    display: none;
  }
  .recruitment__block .container .recruitment__flex-wrapper .group__card.mobile {
    display: block;
  }
  .recruitment__block .container .recruitment__flex-wrapper .big-description {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: -1px;
  }
  .recruitment__block .container .recruitment__flex-wrapper .recruitment__content .long-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
  }
  .recruitment__block .container .recruitment__flex-wrapper:nth-child(2) {
    width: 1082px;
    flex-wrap: nowrap;
  }
  .recruitment__block .container .pagination {
    margin-top: 106px;
  }
  .recruitment__block .container .arrow__line-image {
    display: none;
  }
  .recruitment__block .container .arrow__line-image-tablet {
    display: block;
    transform: translateX(-20px);
    bottom: 25px;
  }
  .candidate__block {
    padding: 80px 0;
  }
  .candidate__block .container .candidate__header {
    margin: 0 0 48px 28px;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card {
    width: calc(50% - 5px);
    padding: 40px 24px 24px 24px;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card .header__icon {
    margin-bottom: 24px;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card .text__content .list__element::before {
    left: -47px;
  }
  .vacancies__block {
    padding: 80px 0;
  }
  .vacancies__block .vacancies__container {
    padding: 0 20px;
  }
  .vacancies__block .vacancies__container .vacancies__block-header {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
  }
  .vacancies__block .vacancies__container .search__group {
    display: flex;
    flex-wrap: wrap;
  }
  .vacancies__block .vacancies__container .search__group .keyword__find {
    width: 100%;
    margin-bottom: 38px;
  }
  .vacancies__block .vacancies__container .search__group .category__popup {
    width: 40%;
  }
  .feedback__block {
    padding: 70px 0;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__block-header {
    padding-bottom: 90px;
    justify-content: space-between;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__block-header .feedback__block-title {
    margin: 0;
    width: calc(50% - 20px);
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: -1px;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__block-header .feedback__block-subtitle {
    width: calc(50% - 20px);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__form .send__button {
    width: 280px;
  }
  .header {
    display: none;
  }
  .mobile__header {
    display: block;
  }
  .pagination {
    margin-top: 48px;
    display: flex;
    justify-content: center;
  }
  .pagination .pagination__inner {
    display: flex;
    position: relative;
  }
  .pagination .pagination__inner .panel {
    transition: transform 0.4s;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: #18E8A4;
    margin-right: 8px;
    background: linear-gradient(0deg, #18E8A4, #18E8A4), linear-gradient(117.15deg, #1BD1FC 0%, #316DD1 100%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.09), 0 6px 8px rgba(0, 0, 0, 0.09), 0 4px 4px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.09), 0 1px 1px rgba(0, 0, 0, 0.09);
  }
  .pagination .pagination__inner .dot {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.1);
    margin-right: 8px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.09);
  }
  .pagination .pagination__inner .dot:last-child {
    margin-right: 0;
  }
  .conclusion__block {
    background: #FCF7F8;
    padding-bottom: 48px;
    overflow: hidden;
  }
  .conclusion__block .container .conclusion__header {
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 46px;
  }
  .conclusion__block .container .group__wrapper {
    transition: transform 0.4s;
    width: 1730px;
    margin-bottom: 48px;
  }
  .conclusion__block .container .group__wrapper .group__card {
    padding-top: 40px;
    width: 280px;
    height: 560px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(117.15deg, #1BD1FC 0%, #316DD1 100%);
    box-shadow: 0 32px 16px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 2px 1px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
  }
  .conclusion__block .container .group__wrapper .group__card .group__title {
    margin: auto;
    width: 240px;
  }
  .conclusion__block .container .group__wrapper .group__card .group__content {
    top: 330px;
    right: 20px;
    width: 240px;
  }
  .footer__block .footer__container .footer__flex-wrapper .copyright {
    order: 1;
    color: #29323C;
  }
  .footer__block .footer__container .footer__flex-wrapper .footer__link {
    order: 2;
  }
  .footer__block .footer__container .footer__flex-wrapper .footer__link .footer__image {
    margin-right: 15px;
  }
  .footer__block .footer__container .footer__flex-wrapper .footer__nav {
    order: 3;
    font-size: 13px;
  }
  .footer__block .footer__container .footer__flex-wrapper .footer__nav .footer__nav-element {
    margin-right: 24px;
  }
}
@media screen and (max-width: 520px) {
  .top__block .container .top__block-flex-wrapper .top__block-big-inscription {
    font-size: 40px;
  }
  .top__block .compression .wide-container {
    width: 769px;
  }
  .top__block .compression .wide-container .top__block-image-line {
    width: 769px;
    transform: translateX(-49px);
  }
  .top__block .compression .wide-container .top__block-image-line:nth-child(2) {
    transform: translateX(-100px);
  }
  .top__block .compression .wide-container .top__block-image-line .image-line-element {
    height: 67px;
    min-width: 120px;
  }
  .top__block .compression .wide-container .top__block-image-line .top__block-shadow {
    transform: translateX(-49px);
    height: 67px;
  }
  .about__block {
    padding-bottom: 16px;
  }
  .about__block .container .about__block-flex-wrapper {
    display: block;
  }
  .about__block .container .about__block-flex-wrapper .about__block-big-inscription {
    margin-bottom: 30px;
  }
  .about__block .container .about__block-flex-wrapper .about__block-inscription {
    margin: 0 0 32px 0;
    width: 100%;
  }
  .recruitment__block {
    padding: 64px 0 48px 0;
  }
  .recruitment__block .container .relative-wrapper .recruitment__flex-wrapper {
    width: 860px;
  }
  .recruitment__block .container .relative-wrapper .recruitment__flex-wrapper:first-child {
    width: 280px;
  }
  .recruitment__block .container .relative-wrapper .recruitment__flex-wrapper .recruitment__content {
    display: block;
  }
  .recruitment__block .container .relative-wrapper .recruitment__flex-wrapper .recruitment__content .long-description {
    margin: 0 0 10px 0;
    width: 280px;
  }
  .recruitment__block .container .relative-wrapper .recruitment__flex-wrapper .group__card {
    width: 280px;
  }
  .candidate__block {
    padding: 80px 0 48px 0;
    overflow: hidden;
  }
  .candidate__block .container .pagination {
    margin-top: 32px;
  }
  .candidate__block .container .candidate__header {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: -1px;
    margin: 0 0 55px 0;
  }
  .candidate__block .container .candidate__block-flex-wrapper {
    width: 570px;
    transition: transform 0.4s;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card {
    width: 280px;
    padding: 34px 20px;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card .header__icon img {
    height: 124px;
    width: 120px;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card .candidate__card-title {
    margin-bottom: 24px;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card .text__content {
    padding: 0;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card .text__content .list__element:first-child {
    padding-top: 0;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card .text__content .list__element:last-child {
    padding-bottom: 0;
  }
  .candidate__block .container .candidate__block-flex-wrapper .group__card .text__content .list__element::before {
    display: none;
  }
  .vacancies__block {
    padding-bottom: 50px;
  }
  .vacancies__block .vacancies__container .search__group .keyword__find {
    margin-bottom: 24px;
  }
  .vacancies__block .vacancies__container .search__group .category__popup {
    width: 100%;
    margin-bottom: 24px;
  }
  .vacancies__block .vacancies__container .search__group .search__button {
    margin: 0 auto;
  }
  .selection__block {
    padding: 32px 0 48px 0;
  }
  .selection__block .container .selection__header {
    margin-bottom: 24px;
  }
  .selection__block .container .option__bar {
    display: block;
    margin-bottom: 32px;
  }
  .selection__block .container .option__bar .option__card {
    width: 100%;
  }
  .selection__block .container .load__button {
    width: 100%;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__block-header {
    display: block;
    padding-bottom: 32px;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__block-header .feedback__block-title {
    width: 100%;
    margin-bottom: 16px;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__block-header .feedback__block-subtitle {
    width: 100%;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__form {
    padding: 0;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__form .input__wrapper .form__input {
    width: 100%;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__form .sub__text {
    margin-bottom: 18px;
  }
  .feedback__block .container .feedback__block-flex-wrapper .feedback__form .send__button {
    width: 100%;
  }
  .conclusion__block .container .conclusion__header {
    font-size: 32px;
  }
  .footer__block .footer__container .footer__flex-wrapper {
    display: block;
  }
  .footer__block .footer__container .footer__flex-wrapper .copyright {
    width: 260px;
    margin: 0 auto 7px auto;
  }
  .footer__block .footer__container .footer__flex-wrapper .footer__nav {
    width: 260px;
    margin: 0 auto 24px auto;
  }
  .footer__block .footer__container .footer__flex-wrapper .footer__nav .footer__nav-element {
    margin-right: 16px;
  }
  .footer__block .footer__container .footer__flex-wrapper .footer__link {
    width: 90px;
    margin: 0 auto;
  }
  .footer__block .footer__container .footer__flex-wrapper .footer__link .footer__image {
    margin: 0;
  }
  .footer__block .footer__container .footer__flex-wrapper .footer__link .footer__image img {
    height: 18px;
  }
}
@media screen and (max-width: 320px) {
  .recruitment__block .container .arrow__line-image-mobile {
    display: block;
  }
  .recruitment__block .container .arrow__line-image-tablet {
    display: none;
  }
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */