

@mixin green-scrollbar {

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner {
    transition: opacity .3s linear;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #18E8A4;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #18E8A4;
    }

    &::-webkit-scrollbar-track {
      opacity: 0.25;
    }
  }

  &:active {
    &::-webkit-scrollbar-thumb {
      opacity: 1;
      background: #18E8A4;
    }

    &::-webkit-scrollbar-track {
      opacity: 1;
    }
  }
}